<!DOCTYPE html>

<html lang="en" ng-app="dsapp" class="cssmasks">

<head>
  <meta charset="utf-8">
  <title>Leica Prototype</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="description" content="DSA Image Viewer">
  <meta name="author" content="Rich Stoner, David Gutman">

    <link rel=stylesheet type=text/css
          href="static/bower_components/flatstrap3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/ol.css"/>

    <link rel=stylesheet type=text/css href="static/dsa.css"/>

    <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="static/bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="static/bower_components/flatstrap3/dist/js/bootstrap.min.js"></script>
    <script src="static/bower_components/angular/angular.min.js"></script>
    <script src="static/bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
    <script src="static/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="static/bower_components/angular-xml/angular-xml.min.js"></script>
    <script src="static/bower_components/mousetrap/mousetrap.min.js"></script>
    <script src="static/bower_components/mousetrap/mousetrap.min.js"></script>
    <script src="static/bower_components/angular-mousetrap/src/keypress.js"></script>
    <script src="static/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>

    <script type="text/javascript" src="static/lib/ol-whitespace.js"></script>
    <script type="text/javascript" src="static/lib/openseadragon.js"></script>
    <script type="text/javascript" src="static/lib/annotation.js"></script>

        <!--<script src="static/bower_components/chrome-tabs/js/chrome-tabs.js"></script>-->

    <script type="text/javascript" src="static/dsa.js"></script>

</head>



<body ng-controller="ApplicationController">

<div id="site-wrapper">
    <div id="site-canvas">


    <nav class="navbar navbar-default navbar-fixed-top " role="navigation" id="headerbar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="http://leica.com"><img class="brandlogo" src="static/images/leica.png"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Link</a></li>-->
            <!--<li><a href="#">Link</a></li>-->
            <!--<li class="dropdown">-->
              <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                  <!--<i class="glyphicon glyphicon-folder-open"></i>-->
                  <!--&lt;!&ndash;<b class="caret"></b>&ndash;&gt;-->
              <!--</a>-->
              <!--<ul class="dropdown-menu">-->
                <!--<li class="dropdown-header">Open</li>-->
                <!--<li><a href="#" ng-click="getDSAConfiguration()">Derm Server</a></li>-->
                <!--<li><a href="#">Image URL</a></li>-->
                <!--<li><a href="#">JSON configuration</a></li>-->
                <!--<li class="divider"></li>-->
                <!--<li class="dropdown-header">Connect</li>-->

              <!--</ul>-->
            <!--</li>-->
          </ul>

          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input id="image_search_url" type="text" class="form-control" style="width:400px;" placeholder="Image url (e.g. http://">
            </div>
            <button type="submit" class="btn btn-default" ng-click="loadImageFromURL()">Load</button>
          </form>

          <ul class="nav navbar-nav navbar-right">
              <li><a href="#" class="toggle-nav btn"><i class="glyphicon glyphicon-align-left"></i></a></li>
            <!--<li><a href="#">Link</a></li>-->

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


     <div id="angular_id" class="container-fluid image-content">

        <div id="map" class="map"></div>

        <div id="image_browser" ng-controller="ImageBrowserController">

              <div id="inner_thumbnail_container" >

                  <span ng-repeat='img in image_list' ng-click="selectImage(img)">
                      <div class="thumb_title">{{img.name}}</div>
                      <img class="thumb_image" ng-src='{{img.thumbnail}}'/>
                  </span>
              </div>

        </div>

        <div class="clearfix"></div>

        <div id="site-menu">

            <h4>Metadata</h4>

             <!--messy list-->
            <ul id="hackedlist">
            </ul>

       </div>


     </div>

    </div>
</div>


</body>

</html>


